@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
  box-sizing: border-box;
}

body{
/* background-color: #2b2b2b; */
font-family: "Titillium Web", sans-serif;
}

/* --- Global styling a--- */
.App{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  
  width: 100vw;
}

header{
 display: grid;
 justify-content: space-between;
 background-color: #fdcfcf;
 align-items: center;
 height: 8vh;
 grid-template-columns: 1fr 0.8fr;
 grid-gap: 0.4rem;
 padding: 0 1rem;
 min-height: 3rem;

 z-index: 1;
  
  grid-area: header;
}

main{
  display: grid;
  grid-template-columns: 1fr;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  padding: 0rem 0.4rem;
  
  min-height: 80vh;

  grid-area: main;
}

footer{
  grid-area: footer;
 /* background-color: orange; */
  min-height: 4rem;
  height: 10vh;
  padding: 0 1rem;
}

.footerWrap{
  height: 100%;
}
.footerWrap .myName, .footerWrap .socialIcons{
  align-self: center;
}

/* --- HEADER styling --- */

.topLogoLink{
  text-decoration: none;

  z-index: 2;
}

.headerWrap{
  display: none;  
  height: 8vh;
  grid-template-columns: 1fr 0.2fr;
  grid-gap: 0.4rem;
  justify-content: space-between;
  align-items: center;
 /* background-color: orange; */
}


.headerBtnList, .headerOptionsWrap{
  display: none;
  /* flex */
  align-items: center;
}

.headerBtnWrap{
  display: flex;
  width: 70vw;
  max-width: 43rem;
  justify-content: space-between;
}

.headerBtnList{
  text-align: center;
  padding: 0;
  justify-items: right;  
}

.headerBtnList a {
  font-size: 1.1rem;
}

.headerBtn{
  text-decoration: none;
  list-style: none;  
}

.headerOptionsWrap{
  display: flex;
  height: 6.6vh;
  width: 8rem;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #fff; 
}

.cartBtn{
  position: relative;
}
.cartNumber{
  position: absolute;
  background-color: red;
  color: #fff;
  padding: 0.1rem 0;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  transform: translate(1.8rem, -2.6rem);
}

/* --- Mobile BTN --- */
.mobileBtnWrap{
  display: flex;
  position: absolute;
  align-items: center;
  background-color: #fdcfcf;
  justify-content: flex-end;
  height: 8vh;
  width: 100%;
  padding: 1rem;  
  min-height: 3rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}


.mobileBtnWrap button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.navOptionBtn{
  display: none;
  width: 8rem;
}

.navOptionBtn button{
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: transparent;
}

.navOptionBtn button h2{
  margin: 0;
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: 1rem;
}

.userIcon{
  height: 2.2rem;
  width: 2.2rem;
}

.hmbgIcon{
  width: 12vw;
  max-width: 3rem;
}

/* --- MAIN styling --- */

.topLogo{
  margin: 0;
  width: 12vw;
}

.title{
justify-self: center;
font-size: 15vw;
font-family: "Poppins";
margin: 0;

z-index: 2;
}

.mainWrap{
 display: grid;
 grid-template-columns: 1fr;
 height: 100%;
 width: 100vw;
 justify-content: center;
 text-align: center;
 align-items: center;
 padding: 0 2rem ;
 z-index: 2;
}

.mainWrap  p {
  justify-self: center;
  align-self: center;
  margin: 0;
  font-size: 1.1rem;
  z-index: 2;
}
.sphereContainer{
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.sphereBig{
  display: block;
  position: absolute;
  background-color: bisque;
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
  right: -10rem;
  bottom: -10rem;
  overflow: hidden;

  z-index: 0;
}

/* --- FOOTER styling --- */
.footerWrap { 
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  grid-template-areas: "name social";
  padding: 0 0.4rem;
}

.myName{
  grid-area: name;
  text-align: start;
}

.socialIcons{
  display: flex;
  justify-content: flex-end;
  padding: 0;
  grid-area: social;

  z-index: 2;
}

.socialIcons li{
  list-style: none;
}

/* -- HOME PAGE -- */

.modelContainer{
  position: absolute;
  display: grid;
}

.modelPic{
  position: fixed;
  height: 80vh;
  bottom: 0px;
  opacity: 0.4;
  align-self: center;

  z-index: 0;
}

/* --- ABOUT page --- */

.aboutWrap{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0 2rem;  
  z-index: 1;
}

.aboutWrap h2{
  font-size: 3rem;
  margin: 0.2rem 0;
}
.aboutWrap p{
  font-size: 1.1rem;
}

.signature{
  min-width: 4rem;
  width: 60vw;
  max-width: 20rem;
}

/* --- SALES page --- */
.salesWrap{
  display: flex;
  flex-direction: column;
  margin-top: 6.8rem;
  background-color: blue;
  
}

.salesWrap h2{
  display: inline-block;
 
}
.salesContainer{
  
}

.saleCategory{
  height: 10rem;
  background-color: aqua;
}

.saleOptionsWrap{
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-color: #f8b8b8;
  justify-content: flex-end;
  height: 6.8rem;
  width: 100%;
  padding: 0.8rem 1rem;
  padding-right: 1.6rem;  
  min-height: 3rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  z-index: 0;
}

.saleOptionsWrap button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.salesSearchBar{
  position: absolute;
  border: none;
  height: 1.8rem;
  width: 60vw;
  padding-left: 1rem;
  margin-left: 1rem;
  border-radius: 20px;
  margin-top: 4rem;

  z-index: 10;
}

.salesIcon{
  width: 1.8rem;
  max-width: 2.2rem;
}

/* --- Media --- */
@media(min-width: 480px){
 
}

/* --- Media --- */
@media(min-width: 720px){

  /* Header */

  header{
    grid-template-columns: 1fr;
    padding: 0rem 5vw ;
  }

  .headerWrap{
    display: flex;
  }
  .headerOptionsWrap{
    display: flex; 
    flex-direction: column;    
  }
  .headerBtnList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 50vw;
    max-width: 40rem;
  }
  .mobileBtnWrap{
    display: none;    
  }
  .saleOptionsWrap{
    display: none;
  }
  .navOptionBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* Main */

  main{
    grid-template-columns: 1fr 1fr;
  }
  .mainWrap{
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    padding: 0 2rem;
  }
  .mainTextWrap{
    padding: 0 4rem;
  }

  .title{
    font-size: 5rem;
  }
  .modelPic{
    align-self: end;
    right: 1.8rem;
    opacity: 1;
  }
  .sphereContainer{
    display: block;
  }

  /* About */

  .aboutWrap{
    grid-template-columns: 1.7fr 1fr;
    padding: 0 6rem;
    z-index: 1;
  }

  /* Footer */
  footer{
    padding: 0 2rem;
  }
}

@media(min-width: 1080px){

  header{
    grid-template-columns: 1fr;
    padding: 0rem 12vw ;
  }

  .headerBtnWrap{
    width: 65vw;
    max-width: 50rem;
  }

  main{
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .mainWrap{
    padding: 0 12vw;
  }
  .mainTextWrap{
    padding: 0;
  }

  .title{
    margin: 0;
  }

  .modelPic{
    right: 6rem;
  }

  /* about */
  .aboutWrap{
    padding: 0 8rem;
  }
  .signature{
    margin-top: 2rem;
  }
  
    
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media only screen and (min-width:720px)  {
  /* Targets galaxy fold horizontal and all mobile 720 desktop changes too */
  .topLogo{
    font-size: 1.6rem;
  }
  .hmbgIcon{
    width: 2rem;
  }
  
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


@media  (min-width:1080px)  {
  .aboutWrap p{}
  
}

@media (max-width:654px) and (orientation: landscape) {

  body {
    background-color: lightblue;
  }

  h1{
    color: blue;
  }

  .title{
    color: blue;
  }

  .modelPic{
    
    height: 24rem;
    bottom: -9rem;
    right: 10vw;
  }

}