*{
  box-sizing: border-box;
}

body{
background-color: #2b2b2b;
}

/* --- Global styling a--- */
.App{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  
  width: 100vw;
}



header{
 display: grid;
 justify-content: space-between;
 background-color: aqua;
 align-items: center;
 height: 10vh;
 grid-template-columns: 1fr 0.8fr;
 grid-gap: 0.4rem;
 padding: 0 0.4rem;
 min-height: 3rem;
  
  grid-area: header;
}

main{
  display: grid;
  grid-template-columns: 1fr;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 181, 168);
  padding: 0rem 0.4rem;
  
  min-height: 80vh;

  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: orange;
  min-height: 4rem;
  height: 10vh;
}

/* --- HEADER styling --- */
.headerWrap{
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-gap: 0.4rem;
  justify-content: space-between;
  background-color: orange;
}

.headerBtnList, .headerOptionsWrap{
  display: none;
  /* flex */
  align-items: center;  
}

.headerBtnList{
  text-align: center;
  padding: 0;  
}

.headerBtn{
  text-decoration: none;
  list-style: none;  
}

.headerOptionsWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
}

/* --- Mobile BTN --- */
.mobileBtnWrap{
  display: flex;
  position: absolute;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.281);
  justify-content: flex-end;
  padding: 0.3rem;
  
  min-height: 3rem;
  height: 10vh;
  width: 100%;
}

.mobileBtnWrap button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.navOptionBtn{
  display: none;
}

.hmbgIcon{
  width: 12vw;
  max-width: 3rem;
}

/* --- MAIN styling --- */

.topLogo{
  margin: 0;
  width: 12vw;
}

.title{
justify-self: center;
font-size: 15vw;
margin: 0;
}

.mainWrap{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.mainWrap  p {
  justify-self: center;
  align-self: center;
  margin: 0;
  width: 60vw;
}

/* --- FOOTER styling --- */
.footerWrap { 
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  grid-template-areas: "name social";
  padding: 0 0.4rem;
}

.myName{
  grid-area: name;
  text-align: start;
}

.socialIcons{
  display: flex;
  justify-content: flex-end;
  padding: 0;
  grid-area: social;
}

.socialIcons li{
  list-style: none;
}

/* -- HOME PAGE -- */

.modelContainer{
  position: absolute;
  display: grid;
}

.modelPic{
  position: fixed;
  height: 80vh;
  bottom: 0px;
  opacity: 0.5;
  align-self: center
}

/* --- HOME page --- */



/* --- Media --- */
@media(min-width: 480px){
 
}

/* --- Media --- */
@media(min-width: 720px){

  main{
    grid-template-columns: 1fr 1fr;
  }

  .mainWrap{
    padding: 0 2rem;
  }

  .title{
    font-size: 5rem;
  }

  .headerOptionsWrap{
    display: flex;     
  }

  .headerBtnList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
  }

  .mobileBtnWrap{
    display: none;
  }

  .navOptionBtn{
    display: flex;
  }

  .modelPic{
    align-self: end;
    right: 1.8rem;
  }
}

@media(min-width: 1080px){

  main{
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .mainWrap{
    padding: 0 2rem;
  }

  .title{
    margin: 0;
    }

    main p {
    width: 20rem;
  }

  .modelPic{
    right: 6rem;
  }
    
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media only screen and (min-width:720px)  {
  /* Targets galaxy fold horizontal and all mobile 720 desktop changes too */
  .topLogo{
    font-size: 1.6rem;
  }
  .hmbgIcon{
    width: 2rem;
  }
  
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media (max-width:654px) and (orientation: landscape) {

  body {
    background-color: lightblue;
  }

  h1{
    color: blue;
  }

  .title{
    color: blue;
  }

  .modelPic{
    
    height: 24rem;
    bottom: -9rem;
    right: 10vw;
  }

}